workflows/n8n/dedupe_and_enrich.json
{
  "name": "dedupe_and_enrich",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "Trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [220, 260]
    },
    {
      "parameters": {
        "functionCode": "// Replace with queue/db fetch.\n// Return one item per lead payload.\nreturn [];"
      },
      "id": "Load",
      "name": "Load Raw Leads",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [460, 260]
    },
    {
      "parameters": {
        "functionCode": "return items.map((item) => {\n  const lead = item.json;\n  lead.email = lead.email ? String(lead.email).toLowerCase().trim() : null;\n  lead.dedupe_key = lead.email || `${String(lead.phone || '').trim()}::${String(lead.company || '').trim().toLowerCase()}`;\n  const budget = Number(lead.budget || 0);\n  if (!lead.intent_score) {\n    lead.intent_score = budget >= 10000 || lead.company ? 'high' : budget >= 1000 ? 'medium' : 'low';\n  }\n  return { json: lead };\n});"
      },
      "id": "Enrich",
      "name": "Normalize + Score",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [700, 260]
    },
    {
      "parameters": {
        "url": "={{$env.INTEGRATION_BASE_URL}}/ingest/lead",
        "sendBody": true,
        "bodyParametersJson": "={{$json}}"
      },
      "id": "Push",
      "name": "Push To Integration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [930, 260]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Load Raw Leads", "type": "main", "index": 0 }]]
    },
    "Load Raw Leads": {
      "main": [[{ "node": "Normalize + Score", "type": "main", "index": 0 }]]
    },
    "Normalize + Score": {
      "main": [[{ "node": "Push To Integration", "type": "main", "index": 0 }]]
    }
  }
}
